#autocomplete {
    top: 40%;
    left: 50%;
    width: 10%;
    position: absolute;
}

input {
    border: 1px transparent;
    padding: 10px;
    font-size: 16px;
    position: relative;
}

input[type=text] {
    width: 400%;
    background-color: #f1f1f1;
    transform: translateX(-50%);
}

input[type=submit] {
    width: 50px;
    background-color: #4eB9d4;
    transform: translateY(-100%);
}

div {
    border: 1px transparent;
    padding: 10px;
    width: 400%;
    transform: translateX(-50%);
}

#autocomplete-elem {
    background-color: #f1f1f1;
}

#autocomplete-elem-selected {
    background-color: #d1d1d1;
}

game {
    float: right;
}

#helpImage {
    transform: translateY(-5px);
}